*.obj
*.sbr
*.exe
*.bsc
*.ilk
*.pch
*.pdb
*.idb
*.plg
*.aps
*.ncb
*.opt
*.res
*.tlog
*.htm
*.manifest
*.syntax
*.lib
*.cmd
*.build
*.html
*.dep
*.json
*.user
*.rsp
*.lnkdep
*.map
*.suo
